<div>
    <div class = "container">
        <div class = "row">
            <header class = "jumbotron">
                <div align="right"><a routerLink="/">Logout<i class="fa fa-sign-out" aria-hidden="true"></i></a></div>
            <h1 style = "text-align: center">Show All Categories</h1> 
            <div style = "width:100%; margin: 25px auto;">
                
    
     <!-- <input type="button" value="Load Category Data" class="btn  btn-success" (click)="loaddata()">&nbsp;  -->
    <!-- <input type="button" value="Update" class="btn  btn-warning" routerLink = "/category/update">&nbsp;
    <input type="button" value="Delete" class="btn  btn-danger" routerLink = "/category/delete"><br/><br/><br/> -->
     <input type="button" value="Store" class="btn  btn-danger" routerLink = "/category/store">
     <br>
     <br>
     <div *ngIf="flag">
    <table border="1" align="center"  class="table table-bordered">
        <tr>
             <th scope="col">CategoryId</th>
             
        <th scope="col">CategoryName</th>
            <th></th>
            <th></th>
        </tr>
         <tr *ngFor="let category of categoryinfo ">
<td>{{category.catid}}</td>
<td>{{category.categoryName}}</td>
<td>   <input type="button" value="Update" class="btn  btn-warning" routerLink = "/category/update"></td>
<td> <input type="button" value="Delete" class="btn  btn-danger" routerLink = "/category/delete"></td>
    </tr>
    </table>
</div>
<a routerLink = "/home" style="color:blue">Go Back</a>
               
         </div>
        
      
            </header>
        </div>
    
        </div>
</div>
    
        

