<div class = "container">
    <app-navbar></app-navbar>
    <!-- <header class = "jumbotron">
        <div class = "container">
                
        <div align="right"><a routerLink="/">Logout<i class="fa fa-sign-out" aria-hidden="true"></i></a></div>
        <h2 id = "head">Fabfeet</h2>
                <p>View our products... </p>
              

                <!--<p>
                    <a class = "btn btn-default btn-large" routerLink = "/new">Add new product</a> &nbsp;
                    <a class = "btn btn-default btn-large" routerLink = "/orders/show">See orders</a>&nbsp; 
                
                    <a class = "btn btn-default btn-large" routerLink = "/categories">See Categories</a> &nbsp;
                    <a class = "btn btn-default btn-large" routerLink = "/couriers">See Couriers</a> &nbsp;
                    <a class = "btn btn-default btn-large" routerLink = "/customers">Get All Customers</a> &nbsp;
                    <a class = "btn btn-default btn-large" routerLink = "/suppliers">See Suppliers</a> &nbsp;
                   
                </p>-->
                <!-- <p>
                     <form action = "/products" method = "GET" class = "form-inline">
                    <div class = "form-group">
                        <input type = "text" name = "search" placeholder = "Product search..." [(ngModel)]="searchText" class = "form-control">
                        <input type = "submit" value = "Search" class = "btn btn-default">
                        <br>
                        <br>
               <a class = "btn btn-default btn-large" routerLink="/product/asc" >Price:Low to High</a> &nbsp;
               <a class = "btn btn-default btn-large" routerLink ="/product/desc">Price:High to Low</a> &nbsp; -->
               <!-- <button [ngClass]="yesButtonTriggered ? 'greenButton':'light'" (click)="yesButton()" class="btn-1" expand="full" color="light" routerLink="/product/asc" >Low to High</button> -->
<!--                
                    </div>

                </form> -->
                <!-- </p> -->
            <!-- </div>
            </header> --> -->
            <div class = "row card-deck text-center" >
        <!-- <div class = "col-md-3 col-sm-6">
            <div class = "thumbnail"> -->
                <div class = "col-lg-4" *ngFor="let product of productInfo | filter:searchText">
                    <div class="card mb-4">
                     <img src="{{product.image}}" alt="img" height="350" width="300">
                        <div class="card-body">

                            <div class = "text-center">
                                <h3 >{{product.pname}}</h3>
                                <!-- <h3>In Stock: {{product.stock}}</h3> -->
                            </div>
                            <div class="content">
                                <button type="button" class="btn1" (click)="inc(product)"><i class="fa fa-plus"></i></button>&nbsp;
                                <span>{{product.quantity}}</span>&nbsp;
                                <button type="button" class="btn1" (click)="dec(product)"><i class="fa fa-minus"></i></button>
                            </div>
             <p><strong><h3>Rs.{{product.price}}</h3></strong></p>
             <p>
                <a class = "btn  btn-success" (click)="addtocart(product)">Add To Cart</a> &nbsp;</p>
              
                <!-- <app-cart [carts]="cartList"></app-cart> -->
            <!--<p>
                 <a class = "btn  btn-warning" [routerLink] = "['/edit',product.pid]">Edit</a> &nbsp;
    
                            <a class = "btn  btn-danger" [routerLink] = "['/delete',product.pid]">Delete</a> 
             <a href = "/product/{{product.pid }}" class = "btn btn-success">More Details</a>
            <br/><br/>
                
            </p>-->
            <hr>
            </div>
            </div>
            </div>
         
        </div>
    
    </div>
    
    