<div class = "bod">  
    <div class="container main-section">  
        <div class="row">  
            <div class="col-lg-12 pb-2">  
                <h2> Fabfeet</h2>  
            </div>  
            <div class="col-lg-12 pl-3 pt-3" *ngIf="getCartDetails" >  
                <table class="table table-hover border bg-white">  
                    <thead>  
                        <tr>  
                            <th> <h4> <b>  Product Details </b> </h4> </th>  
                            <th > <h4> <b> Price  </b></h4>  </th>  
                            <th style="width:10%;"> <h4> <b> Quantity  </b></h4>  </th> 
                            <th> <h4> <b> Subtotal  </b></h4>  </th>  
                            <th> <h4> <b> Action  </b></h4>  </th>  
                        </tr>  
                    </thead>  
                    <tbody>  
                        <tr *ngFor="let getCart of getCartDetails">  
                            <td>  
                                <div class="row" >  
                                    <div class="col-lg-2 Product-img">  
                                        <img src="{{getCart.image}}" alt="..." class="img-responsive"/>  
                                    </div>  
                                    <div class="col-lg-4" >  
                                        <h5 class="nomargin"> <b>{{getCart.pname}}  </b> </h5>  
                                    </div>  
                                </div>  
                            </td>  
                            <td> 
                                <strong>Rs. {{getCart.price}} </strong>
                            </td>  
                            <div class="content">
                                <button type="button" class="btn1" (click)="increaseQuantity(getCart.pid,getCart.quantity)"><i class="fa fa-plus"></i></button>&nbsp;
                                <span>{{getCart.quantity}}</span>&nbsp;
                                <button type="button" class="btn1" (click)="decreaseQuantity(getCart.pid,getCart.quantity)"><i class="fa fa-minus"></i></button>
                            </div>
                            <td> <strong> Rs.{{getCart.quantity * getCart.price | number}} </strong> </td>  
                            <td class="actions" data-th="" style="width:10%;">  
                                <!-- <button class="btn btn-info btn-sm"> <span class="glyphicon glyphicon-shopping-cart"> </span> </button>   -->
                                <button class="btn btn-danger btn-sm" (click)="remove(getCart.pid)"> <i class="fa fa-trash-o"> </i> </button>                               
                            </td>  
                        </tr>  
                        
                    </tbody>  
                    <tfoot>  
                        <tr>  
                            <td> <a href="dashboard" class="btn btn-success "> <i class="fa fa-angle-left"> </i> Continue Shopping </a> </td>
                            <!-- <td><button class="btn btn-danger btn-sm" (click)="removeAll()"> <i class="fa fa-trash-o"> </i> Remove All Item</button></td>   -->
                            <td colspan="2" class="hidden-xs"> </td>  
                            <td class="hidden-xs text-center" style="width:10%;"> <strong> Total : Rs. {{total}} </strong> </td>  
                            <td> <a href="bill" class="btn btn-success btn-block"> Checkout <i class="fa fa-angle-right"> </i> </a> </td>  
                        </tr>  
                    </tfoot>  
                </table>  
            </div>  
        </div>  
    </div> 
</div> 
