	<!-- navbar starts -->
		<header>
			
		
				<!-- The slideshow -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="/assets/images/st.jpeg" alt="Los Angeles" width="500" height="400">
					</div>
					<!-- <div class="carousel-item">
						<img src="/assets/images/stwo.jfif" alt="Chicago" width="500" height="400">
					</div>
					<div class="carousel-item">
						<img src="/assets/images/sthree.jfif" alt="New York" width="500" height="400">
					</div> -->
				</div>
				
				<!-- Left and right controls -->
				<a class="carousel-control-prev" href="#demo" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#demo" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>

			</header><!-- /header -->
			<!-- about us -->
			<section>
				<div class="container-fluid">
					<h1 class="text-center pt-2 text-capitalize ">Fabfeet Footwear</h1>
					<hr class="w-20 mx-2 pb-2">
					
				</div>
				
				<!-- grid two columns -->
				<div class="row">
					<div class="col-lg-6 col-md-6 col-12">
						<img src="/assets/images/asix.jpg" height ="300" >
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<h1>About Us</h1>
						<hr>
						<p>FabFeet footwear is a small company which deals in lady footwear. FabFeetfootwear shop is a place where you can get the latest designs with high quality at very reasonable price.
						FabFeet has a team of skilled designers although it doesn’t have any production unit. 
						<br>
						They have association with different manufacturers who converts their designs into tangible products. 
						Apart from shoes FabFeet also deals with the variety of products like hand bags, jackets and travel bags, again for ladies.</p>
					<a routerLink="help">	<button class="btn bg-primary text-white">Wanna Know More About Fabfeet</button></a>
					</div>
				</div>
				
			</section>
			<!-- service part -->
			<section>
				<div class="container">
					<h1 class="text-center  text-capitalize "><br>Services</h1>
					<hr class="w-20 mx-2 pb-3">
					
					<div class="row mb-5">
						<div class="col-lg-4 col-md-4 col-12">
							<div class="card" >
								<img class="card-img-top" src="/assets/images/one.jfif" alt="Card image">
								<div class="card-body">
									<h4 class="card-title">Tote Bag</h4>
									<p class="card-text">Rs 1510</p>
                  <a routerLink="login" class="btn btn-primary">See Profile</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12">
							<div class="card">
								<img class="card-img-top" src="/assets/images/bagsix.jpg" height="410" alt="Card image">
								<div class="card-body">
									<h4 class="card-title">Luxury bag</h4>
									<p class="card-text">Rs 510</p>
                  <a routerLink="login" class="btn btn-primary">See Profile</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12">
							<div class="card">
								<img class="card-img-top" src="/assets/images/bagfour.jpg" height="410" alt="Card image">
								<div class="card-body">
									<h4 class="card-title">Leather Bag</h4>
									<p class="card-text">Rs 620</p>
                  <a routerLink="login" class="btn btn-primary">See Profile</a>
								</div>
							</div>
						</div>
					</div>
				</div>
        <br>
        <br>
			</section>
			<!-- service ends -->
			<section>
				<article>
					<div class="text-white bg-primary py-4 text-center mb-3">
  
            <br>
						<h1>+91-8459660091</h1>
						<p>For best and quality items do contact us...!!!</p>
            <a routerLink="contactus">
						<button class="btn btn-warning mb-3">Contact us</button></a>
            <br>
            <br>
					</div>
				</article>
			</section>
			<!-- gallery starts -->
			<section>
				<div class="container">
					<h1 class="text-center  text-capitalize ">Gallery</h1>
					<hr class="w-20 mx-2 pb-2">
					<div class="row mb-3">
						<div class="col-lg-4 col-md-4 col-12">
							<div class="card" >
								<img class="card-img-top" src="/assets/images/jjtwo.jpg" height="400" alt="Card image">
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12">
							<div class="card">
								<img class="card-img-top" src="/assets/images/jjone.jpg" height="400" alt="Card image">
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12">
							<div class="card">
								<img class="card-img-top" src="/assets/images/jjthree.jpg" height="400" alt="Card image">
							</div>
						</div>
					</div>
          <br>
          <br>
					<div class="row mb-3">
						<div class="col-lg-4 col-md-4 col-12">
							<div class="card" >
								<img class="card-img-top" src="/assets/images/kdone.jpg" height="220" alt="Card image">
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12">
							<div class="card">
								<img class="card-img-top" src="/assets/images/kdthree.jpg" height="220" alt="Card image">
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12">
							<div class="card">
								<img class="card-img-top" src="/assets/images/kdtwo.jpg" height="220" alt="Card image">
							</div>
						</div>
					</div>
          <br>
          <br>
					<div class="row mb-3">
						<div class="col-lg-4 col-md-4 col-12">
							<div class="card" >
								<img class="card-img-top" src="/assets/images/pone.jpg" height="300" alt="Card image">
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12">
							<div class="card">
								<img class="card-img-top" src="/assets/images/kdeight.jpg" height="300" alt="Card image">
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12">
							<div class="card">
								<img class="card-img-top" src="/assets/images/teight.jpg" height="300" alt="Card image">
							</div>
						</div>
					</div>
				</div>
				
			</section>
			<!-- gallery ends -->
      <br>
      <br>
			<section>
				<article>
					<div class="text-white bg-primary py-4 text-center mb-3">
            
            <br>
						<h1>Want to buy</h1>
						<p>The best quality in low price then just click here  !!!</p>
            <a routerLink="login">
						<button class="btn btn-warning mb-3" data-toggle="modal" data-target="#myModal">Buy now</button></a>
            <br>
            <br>
					</div>
			
					<div class="modal fade" id="myModal">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								
								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title">Sign up</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
								
								<!-- Modal body -->
								<div class="modal-body">
									<div class="form-group">
										<label for="email">Email:</label>
										<input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
										autocomplete="off">
									</div>
									<div class="form-group">
										<label for="pwd">Password:</label>
										<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
									</div>
									<div class="form-group form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="remember"> Remember me
										</label>
									</div>
									<button type="submit" class="btn btn-primary">Submit</button>
								
							</div>
							
							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
							
						</div>
					</div>
				</div>
				
			</article>
		</section>
		<!-- signup ends -->
		<!-- contact us starts -->
		<section>
		<div>
    <header class = "jumbotron">
        <div class = "container">
            <div class = "row">
                <h1 style = "text-align: center">Sign Up</h1>
                    <div style = "width:50%; margin: 5px auto;">
                        <form action = "/register" method = "POST" [formGroup]="customersInfo" (ngSubmit)="storeCustomersDetails()">
                            <div class = "form-group">
                                <label>User ID</label>
                                <input class = "form-control"  type = "text" formControlName = "cid" placeholder = "User ID">
                            </div>
                            <div class = "form-group">
                                <label>Name</label>
                                <input class = "form-control"  type = "text" formControlName = "cname" placeholder = "Name">
                            </div>
                            <div class = "form-group">
                                <label>UserName</label>
                                <input  class = "form-control" type = "text" formControlName = "username" placeholder = "UserName">
                            </div>
                            <div class = "form-group">
                                <label>Password</label>
                                <input class = "form-control" type = "password" formControlName = "password" placeholder = "Password" required minlenth = "10">
                            </div>
                            <div class = "form-group">
                                <label>Email</label>
                                <input  class = "form-control" type = "text" formControlName= "email" placeholder = "Email">
                            </div>
                            <div class="form-group">
                                <label>Mobile No</label>
                                <input class = "form-control" type = "number" formControlName = "phone" placeholder = "Phone">
                            </div>
                            <div class = "form-group">
                                <label>Address</label>
                                <input class = "form-control" type = "text" formControlName = "address" placeholder = "permanent address">
                            </div>
                        <button class = "btn btn-primary" > Sign Up </button>&nbsp;<br/><br/>
                    <div class = "form-group">
                        <a routerLink = "/login"> <button class = "btn  btn-success">Already have an account </button> </a>
                    </div>
                </form>
                {{msg}}
                <br/>
                <a href = "/" style="color:blue">Go Up</a>
                </div>
            </div>
        </div>
        </header>
    </div>
        
       
			
		</section>

	