.jumbotron{
    background-image: url("/assets/images/orders.jpg") ;
    background-size: cover;
    height: 900;
    /* opacity: 0.9; */
}
/* .toggle{
    background-color: green;
}
.btn--disable{
    background-color: red;
} */