  <script src="assets/js/ActiveLink.js"> </script>
  <header class = "jumbotron">

        <div class = "container">
                <h2 id = "head">Fabfeet</h2>
               
                <p>View our products... </p>
              
                <p>
                     <form action = "/products" method = "GET" class = "form-inline">
                    <div class = "form-group">
                        <input type = "text" name = "search" placeholder = "Product search..." [(ngModel)]="searchText" class = "form-control">
                        <input type = "submit" value = "Search" class = "btn btn-default">
                        <br>
                        <br>
              <a routerLink="/product/asc">
             <button type="button" class="btn btn-primary active" data-toggle="button" aria-pressed="true" autocomplete="off">
  Price:Low to High
</button></a> &nbsp;
                <a routerLink="/product/desc">
                <button type="button" class="btn btn-primary active" data-toggle="button" aria-pressed="true" autocomplete="off">
  Price: High to Low
</button></a> &nbsp;
                    </div>

                </form>
                <!-- </p> -->
            </div>
            </header>
